{
  "plugins": [
    "static-fs",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "production": {
      "presets": [
        ["es2015", {"modules": false}],
        "babili"
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
