* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background: #11001D;
  width: 100%;
  height: 100%;
  font: 14px/1 Monaco, monospace;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 0;

  margin-top: -130px;
  padding: 10px;
  width: 100%;
  height: 260px;

  color: #fff;
  text-align: center;
  transition: opacity 300ms ease-out 0ms;
}

.intro-quote {
  position: relative;
  margin: 0;
  width: 100%;
  height: 180px;
  font: 42px/1.1 'Bungee Hairline', Monaco, monospace;
  text-shadow: 1px 1px 0px cyan,
    -1px -1px 0px magenta;
}

.intro-quote > p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0 0;
  width: 100%;
  height: 100%;
  transition: opacity 3s ease-in 0ms;
}

@media (min-width: 768px) {
  .modal {
    margin-top: -110px;
    height: 220px;
  }

  .intro-quote {
    height: 100px;
    font-size: 52px;
  }
}

.intro-form {
  transition: opacity 3s ease-in 200ms;
}

.intro-form label {
  display: block;
  margin: 8px 0;
  color: #373655;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.intro-form select,
.intro-form button {
  display: inline-block;
  margin: 0;

  outline: none;
  border: none;
  border-radius: 0;
  background: transparent;
  padding: 6px 0;

  color: #fff;
  font: 12px/1 Monaco, monospace;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
  opacity: 0.6;
  transition: opacity 400ms;
}

.intro-form select {
  -webkit-appearance: none;
}

.intro-form select:hover,
.intro-form select:focus {
  opacity: 1;
}

.intro-form button {
  border-bottom: 1px solid #fff;
  font-size: 18px;
}

.intro-form button:hover,
.intro-form button:focus {
  opacity: 1;
}
